body {
  background: rgb(113, 189, 14);
}
h1 {
  text-align: center;
}
.caixa1 {
  position: absolute;
  background: rgb(202, 216, 13);
  width: 200px;
  height: 200px;
  right: 0px;
  bottom:0;
}
.caixa2 {
  position: absolute;
  background: rgb(184, 241, 26);
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 205px;
}

.caixa3 {
  position: absolute;
  background: rgb(217, 255, 0);
  width: 200px;
  height: 200px;
  right: 205px;
  bottom:0;
}
.menuPrincipal{
   position: absolute;
   width: 100%;
   height: 45px;
   background: rgb(42, 170, 10);
   top: 0;
   left: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(116, 74, 11);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
li a:hover {
  color: rgb(255, 255, 255);
  background: black;
}
#Otto {
  width: 10%;
}
.caixaOtto {
  position: absolute;
  top: 45px;
  background: rgb(145, 5, 110);
  width: 50%;
  height: 165px;
  margin: 20px;
  border-color: rgb(73, 47, 7);
  border-style: groove;
  padding: 20px;
  display: flex;
  justify-content: center;
}